@import "../../styles/_color.scss";
@mixin card_color($color){
  border: 3px solid $color;
  button{
    background-color: $color;
  }
  h3{
    padding: 5px;
    text-align: center;
    transition: .3s ease-in-out;
  }
}

@mixin status($color){
  border-radius: 15px;
  padding: 0 10px;
  color: rgb(255, 255, 255);
  background-color: $color;
}

.card{
  background-color: $card;
  color: white;
  border-radius: 20px;
  width: 280px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &.alive{
    @include card_color($green)
  }
  &.dead{
    @include card_color($red)
  }
  &.unknown{
    @include card_color($text_lite)
  }
  img{
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
  .info_card{
    padding: 10px;
    div{
      margin: 10px 0;
    }
    span{
      color: $text_lite;
    }
    .alive_status{
      @include status($green)
    }
    .dead_status{
      @include status($red)
    }
    .unknown_status{
      @include status($text_lite)
    }
  }
  button{
    font-size: 25px;
    color: white;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    height: 35px;
    border-radius: 0 0 15px 15px;
    transition: .2s ease-in-out;
  }
  button:hover{
    &{
      opacity: 0.5;
    }
  }
}