.main_info__items{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px 5px;
}
.main_info__items:nth-child(3n) {
  break-after: always;
  background-color: #fff;
}