@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './styles/_color.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: $bg_lite;
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
}

.app{
  min-height: 100vh;
}

main{
  padding: 10px;
  min-height: calc(100vh - 114px);
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  background-color: $bg_dark;
  color: white;
  aside{
    flex-grow: 1;
  }
  .main_info{
    flex-grow: 1;
    width: 45%;
  }
  .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    button{
      margin: 0 10px;
    }
  }
}