@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './styles/_color.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: $bg_lite;
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
}

.App{
  min-height: 100vh;
  .buttons{
    background-color: $bg_dark;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    font-size: 40px;
    button{
      margin: 0 10px;
      padding: 5px;
      border: none;
      background: none;
      outline: none;
      border: 2px solid $gold;
      border-radius: 15px;
      color: white;
      font-size: 20px;
      width: 100px;
      cursor: pointer;
      transition: .1s ease-in;
      &:hover{
        background-color: $gold;
      }
    }
  }
}

main{
  padding: 10px;
  min-height: calc(100vh - 114px);
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  background-color: $bg_dark;
  color: white;
  aside{
    flex-grow: 1;
  }
  .main_info{
    flex-grow: 1;
    width: 45%;
  }
}